body { font: 12px Arial;}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.legend {
    font-size: 16px;
    font-weight: bold;
    text-anchor: middle;
}

.scroll {
    max-height: 300px;
    overflow-y: auto;
}

.col-md-3:nth-child(1){
    color: steelblue;
}
.col-md-3:nth-child(2){
    color: #FFA500;
}
.col-md-3:nth-child(3){
    color: #008000;
}
.col-md-3:nth-child(4){
    color: #FF0000;
}
.items{
    color:black;
}

/*.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 60px;          
    height: 18px;         
    padding: 2px;       
    font: 12px sans-serif;    
    background: lightsteelblue; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
}
*/