<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Covid-19</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

  <div class="card bg-light mt-4">
  <div class="card-header"><b>About Corona Virus</b></div>
  <div class="card-body">
    <p class="card-text">Coronavirus disease (COVID-19) is an infectious disease caused by a new virus.
The disease causes respiratory illness (like the flu) with symptoms such as a cough, fever, and in more severe cases, difficulty breathing. You can protect yourself by washing your hands frequently, avoiding touching your face, and avoiding close contact (1 meter or 3 feet) with people who are unwell. <a href="https://www.who.int/">Read More...</a></p>
  </div>
</div>

<div class="card bg-light mt-2">
  <div class="card-header"><b>How it Spreads</b></div>
  <div class="card-body">
    <p class="card-text">Coronavirus disease spreads primarily through contact with an infected person when they cough or sneeze. It also spreads when a person touches a surface or object that has the virus on it, then touches their eyes, nose, or mouth.</p>
  </div>
</div>

<div class="card bg-light mt-2">
  <div class="card-header"><b>Symptoms</b></div>
  <div class="card-body">
    <p class="card-text">People may be sick with the virus for 1 to 14 days before developing symptoms. The most common symptoms of coronavirus disease (COVID-19) are fever, tiredness, and dry cough. Most people (about 80%) recover from the disease without needing special treatment.
More rarely, the disease can be serious and even fatal. Older people, and people with other medical conditions (such as asthma, diabetes, or heart disease), may be more vulnerable to becoming severely ill.</p>
  </div>
</div>
 
</div>
</div>

    {% endblock %}
  </body>
</html>
